@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
:root {
--Red: hsl(14, 86%, 42%);
--Green: hsl(159, 69%, 38%);
--Rose50: hsl(20, 50%, 98%);
--Rose100: hsl(13, 31%, 94%);
--Rose300: hsl(14, 25%, 72%);
--Rose400: hsl(7, 20%, 60%);
--Rose500: hsl(12, 20%, 44%);
--Rose900: hsl(14, 65%, 9%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    font-family: "Red Hat Text", sans-serif;
    font-style: normal;
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

header h1{
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    
}

body {
    margin: 0;
    padding: 0;
    background: var(--Rose100);
}


.product {
    margin: 0 20px 0 20px;
}

.products {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 590px;
    
}

.card img {
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    height: auto;
    
}

article {
    padding:40px 0 20px 0;
    width: 100%;
}

.name {
    font-family: "Josefin Sans", sans-serif;
    font-size: clamp(0.85rem, 2.5vw, 1rem);
    font-weight: 300;
    font-style: normal;
    margin:0;
    
}

.description {
    font-family: "Josefin Sans", sans-serif;
    font-size: clamp(1rem, 2vw, 0.85rem);
    font-weight: 500;
    font-style: normal;
    margin: 8px 0;
}

.price {
    font-family: "Red Hat Text",sas-serif;
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    font-weight: 500;
    font-style: normal;
    color: var(--Red);
    margin: 0;
}



/* the father container */
.cart-control {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* the child  */

.add-btn {
    max-width:200px;
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:white;
    border-radius: 30px;
    padding: 0 40px 0 40px;
    position: absolute;
    border: 1px solid gray;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: clamp(0.8rem, 2vw, 1rem);
    white-space: nowrap;
    gap: 8px;
}

:active.add-btn {
    background-color: var(--Red);
}

/* the son */
.qty-control {
    max-width:200px;
    width: 70%;
    height: 40px;
    display: none;
    justify-content: space-between;
    align-items: center;
    background:white;
    border-radius: 30px;
    padding: 0 10px 0 10px;
    position: absolute;
    border-color: var(--Red);
    border-style: solid;
    border-width:1px;
    background: var(--Red);
}

.qty-control button {
    max-width: 15px;
    max-height: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    background: var(--Red);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qty-control button img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9px;
    height: 9px; 
}

span {
    color: #fff;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.cart-empty {
    background-color: #fff;
    max-width: 590px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

}

.cart-empty h1 {
    margin: 20px;
    max-width: 450px;
    width: 85%;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 650;
    white-space: nowrap;
    font-size: clamp(1.5rem, 2vw, 3rem);
    color: var(--Red);
}

.cart-empty p {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 600;
    white-space: nowrap;
    font-size: clamp(0.9rem, 2vw, 0.7rem);
    color: var(--Rose500);
    margin-bottom: 1rem;
}

.box-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 450px;
    width: 85%;   
    font-family: "Josefin Sans", sans-serif;
    border-bottom:  solid rgba(128, 128, 128, 0.493) 1px ;
    margin-bottom: 10px;
}

.cart-items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    width: 85%;   
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 20px;
}

.info {
    margin-bottom: 20px;
}

.cart-items h4{
    font-size: larger;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.remove-btn {
    width: 16px;   
    height: 16px;
    border-radius: 50%;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.pa {
    color: grey;
    font-weight: 350;
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    margin: 10px;
}
.pa2 {
    color: grey;
    font-weight: 380;
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    margin: 10px;
}

.amount {
    color: var(--Red);
    font-weight: 600;
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
}

.order {
    max-width: 400px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 450px;
    width: 85%;
}

p.total {
    margin: 0;
    color: black;
}

.otn {
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-total  {
    color: black;
    font-weight: 700;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
}

.delivery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Rose100);
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
}

.delivery p {
    margin: 0;
    color: black;
    margin-left: 8px;
    font-weight: 400;
}

.weight {
    color: black;
    font-weight: 550;
}

.confirm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm button {
    width: 100%;
    border-radius: 30px;
    border: none;
    background: var(--Red);
    color: white;
    height: 45px;
    margin: 20px 0;
}

.attribution {
    margin-top: 50px;
    display: none;
}

.hidden {
  display: none;
}

.order-confirmed {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "Red Hat Text", sans-serif;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 24px;
    z-index: 1000;
    overflow-y: auto; 

}

.order-confirmed.hidden {
    display: none !important;

}

.order-confirmed:not(.hidden) {
    display: flex;
}

.confirmed-box img {
    align-self: flex-start;
    margin: 0 0 10px 0;
    width: 50px;
    height: 50px;
}

.confirmed-box h1 {
    color: black;
    font-weight: 700;
    font-size: 32px;
    align-self: flex-start;
    margin: 10px 0;
}

.order-confirmed p {
    align-self: flex-start;
    font-size: 15px;
    font-weight: 400;
    color: gray;
    margin: 5px 0 30px;
    text-align: center;
}

.confirmed-items {
    width: 100%;
    background-color: var(--Rose100);
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    margin: 20px 0;
}

.item-pandq {
    display: flex;
    flex-direction: row;
}

.confirmed-items > div:last-child {
    border-bottom: none;
}

.confirmed-items {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
}

.confirmed-total {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin: 20px 0;
}

.start-new {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Red);
    color: #fff;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 400;
}

.confirmed-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    position: fixed;
    inset: 80px 0 0 0;
    overflow-y: auto;
    max-height: calc(100vh - 80px);
}

.categories {
    display: flex;
    flex-direction: column;

}

div.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:  solid rgba(128, 128, 128, 0.274) 1px ;
    width: 100%;
    padding: 15px 0;
}

div.confirmed-info {
    display: flex;
    flex-direction: column;
}

.items img {
    margin: 0;
}

p.c-item-category {
    color: black;
    margin: 0;
    font-weight: 500;
}
p.c-item-qty {
    color: var(--Red);
    margin: 5px;
}

p.confirmed-total {
    font-weight: 1000;
    color: black;
    font-size: 20px;
    margin: 0;
}

p.pofTotal {
    margin: 0;
    font-weight: 400;
    color: rgb(97, 97, 97);
}

div.c-items-total {
    margin: 20px 0 0 0;
}

p.c-item-total {
    font-weight: 600;
    color: black;
    margin: 10px 0;
}

p.c-item-price {
    margin: 5px;
}

.c-items-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

@media  (min-width:500px) {
    header {
        display: flex;
        justify-content: flex-start;
        margin: 0 auto;
    }
    .products {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:800px) {
    .products {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        max-width: 900px;
    }

    header {
        max-width: 900px;
    }
}

 @media  (min-width:1000px) {
    .products {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    body {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .cart {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 300px;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
    .confirmed-box {
        max-width: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        position: none;
        inset: 0;
    }

    .start-new {
        padding: 0 100px;
    }
}

    .box-empty {
        width: 300px;
    }

    .cart-empty {
        width: 300px;
    }

} 

